body{
    background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job516-nunoon-10-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9db4980b0729d0e9ca9cc63107c44f20");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    border:5px ridge rgb(240, 202, 228);
}
.hi{
    margin-top:500px;
}